.new-game{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    margin: none;
    background-color: var(--red);
    color: white;
    width: 150px;
    height: 60px;
    border: none;
    font-weight: bold;
}