.ask-card{
    position: absolute;
    bottom: 10px;
    left: 5px;
    border-radius: 10px;
    margin: none;
    background-color: var(--secundario);
    color: white;
    width: 150px;
    height: 80px;
    border: none;
    font-weight: bold;
}