.next-turn{
    position: absolute;
    bottom: 10px;
    left: 180px;
    border-radius: 10px;
    margin: none;
    background-color: var(--principal);
    color: white;
    width: 150px;
    height: 60px;
    border: none;
    font-weight: bold;
}